<a href="https://colab.research.google.com/github/karolinasales/new-/blob/main/Crud_na_Pr%C3%A1tica_AT1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
#Cadastro de Oportunidade de Emprego 
#CRUD                      
#Funcionalidade do PROJETO 
#1. Lstar todas as Vagas 
#2. Alterar todas as Vagas 
#3. Alterar Vagas 
#4. Deletar Vagaimport sqlite3 
 
#Dupla: Karolina Regina Sales Feitosa & Vitória Neves de Oliveira 
#2° Módulo de DS
#Email ETEPD:  krsf@etepd.com / vno@etepd.com 
 

class Oportunidade():
  def _init_(self, titulo_vaga, cargo, salario, data_inicio, empresa, descricao_vaga, status):
    self.titulo_vaga = titulo_vaga
    self.cargo = cargo
    self.salario = salario 
    self.data_inicio = data_inicio  
    self.empresa = empresa
    self.descricao_vaga = descricao_vaga 
    self.status = status  

empregado = Oportunidade ('Desenvolvedor', 'Blockchain', 'noveK','september2022', 'google', 'smartConcrats','Estudando') 
banco = sqlite3.connect('banco_teste.db')
def criarTabela():
    cursor = banco.cursor()
    conn.execute("""CREATE TABLE vagas(
    titulo vaga text, salario text, data de criação date, empresa text,
    cargo text, driscrição long text, status """)

def add_vaga(vaga):
    conn.execute("insert into vaga(vaga, atualizado) values (?, 0)", (vaga))
    conn.commit()

def remover_tarefa(cd_vaga):
    conn.execute("delete from vaga where cd_vaga = ?", (cd_vaga))
    conn.commit()

def updateVaga(cd_vaga):
  conn.execute("uptade vaga set atualizado = 1 where cd_vaga = ?", (cd_vaga))
  conn.commit()

def get_tarefas(): 
    return conn.execute("retorna a tabela")

TypeError: ignored